body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'DDINRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #4F4F4F;
	background: #F7F7F9;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

svg {
	display: block;
	margin: auto;
}

.node {
	cursor: pointer;
	opacity: 0.8;
}

.record {
	cursor: pointer
}

p {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

svg, text {
	text-rendering: optimizeLegibility;
}

#path {
	stroke-dasharray: 628.3185307179587;
	animation: dash 5s linear forwards;
}

@keyframes dash {
	from {
		stroke-dashoffset: 628.3185307179587;
	}
	to {
		stroke-dashoffset: 0;
	}
}

.logo circle {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: 0.6;
}

.logo circle:hover {
	opacity: 1;
}

.label:hover {
	cursor: pointer;
}

.social:hover {
	border-bottom: 1px dotted #182026;
}
